{% extends "base.html" %}
{% block head_title %}{{product.title | capfirst }}{% endblock %}

{% block content %}
<div class="site-section bg-light" style="margin-top: 100px;">
    <div class="container">
        <div class="bg-white py-4 mb-4">
            <div class="row mx-4 my-4 product-item-2 align-items-start">
                <div class="col-md-6 mb-5 mb-md-0">
                    <img src="{{product.image.url}}" alt="Image" class="img-fluid" width="100%">
                </div>

                <div class="col-md-5 ml-auto product-title-wrap" id="product-title-wrap">
                    <h4 class="h6">{{product.brand | capfirst }}</h4>
                    <h3 class="text-black mb-4 font-weight-bold">{{product.title | capfirst }}</h3>
                    <p class="mb-4">{{product.description}}</p>


                    <div class="mb-4">
                        <h3 class="text-black font-weight-bold h5">Price:</h3>
                        <div class="price">${{product.price | floatformat:2 }}</div>
                    </div>
                    <p>
                        <a href="{% url 'add_to_cart' product_id=product.id %}"
                            class="btn btn-black rounded-0 d-block d-lg-inline-block">Add To Cart</a>
                        <div class="mb-4">
                        {% if request.user.is_authenticated and request.user.is_superuser %}
                        <a href="{% url 'product_edit' product.pk %}"
                            class="btn btn-black rounded-0 d-block d-lg-inline-block">Edit</a>
                        <a href="{% url 'product_delete' product.pk %}"
                            class="btn btn-black rounded-0 d-block d-lg-inline-block">Delete</a>
                        {% endif %}
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}